Samples/Provisioning.PnPDeployer.Console/PNP.Deployer/Classes/XSD/TokensConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tokensConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tokens">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="token">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>