OfficeDevPnP.Core/OfficeDevPnP.Core/Framework/Provisioning/Providers/Xml/ProvisioningSchema-2015-05.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.dev.office.com/PnP/2015/05/ProvisioningSchema"
    elementFormDefault="qualified"
    xmlns="http://schemas.dev.office.com/PnP/2015/05/ProvisioningSchema"
    xmlns:pnp="http://schemas.dev.office.com/PnP/2015/05/ProvisioningSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- The main element -->
  <xsd:element name="Provisioning" type="pnp:Provisioning">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This is the base element of a Provisioning File.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <!-- The main element for external references -->
  <xsd:element name="ProvisioningTemplate" type="pnp:ProvisioningTemplate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        This is the base element of a referenced SharePoint Provisioning Template File.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="Provisioning">
    <xsd:sequence>
      <xsd:element name="Preferences" type="pnp:Preferences" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The mandatory section of preferences for the current provisioning definition
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Templates" type="pnp:Templates" minOccurs="0"/>
        <xsd:element name="Sequence" type="pnp:Sequence" minOccurs="0"/>
        <xsd:element name="ImportSequence" type="pnp:ImportSequence" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Imports sequences from an external file. All current properties should be sent to that file.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Preferences" >
    <xsd:annotation>
      <xsd:documentation>General settins of this Provisioning file</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Parameters" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Definition of parameters
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Parameter" maxOccurs="unbounded">
              <xsd:complexType mixed="true">
                <xsd:attribute name="Key" use="required" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      The name of the Parameter
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="Required" use="optional" type="xsd:boolean" default="false">
                  <xsd:annotation>
                    <xsd:documentation>When set to true then a value must be provided in the XML or provided at runtime</xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Version" type="xsd:string"  use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional version number.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Author" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Author name
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Generator" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Name of tool generating this file
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Templates">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        SharePoint Templates, which can be inline or references to external files
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ProvisioningTemplateFile" type="pnp:ProvisioningTemplateFile" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Reference to an external template file, which will be based on the current schema but will focus only on the SharePointProvisioningTemplate section.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProvisioningTemplateReference" type="pnp:ProvisioningTemplateReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Reference to another template by ID.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProvisioningTemplate" type="pnp:ProvisioningTemplate" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:ID" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          A unique identifier of the Templates collection, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ProvisioningTemplate">

    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Represents the root element of the SharePoint Provisioning Template
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>

      <xsd:element name="SitePolicy" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Site Policy of the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="PropertyBagEntries" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Property Bag entries of the Provisioning Template, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PropertyBagEntry" type="pnp:StringDictionaryItem"
                          minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Security" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Security Groups Members of the Provisioning Template, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AdditionalAdministrators" type="pnp:UsersList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  List of additional Administrators for the Site, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalOwners" type="pnp:UsersList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  List of additional Owners for the Site, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalMembers" type="pnp:UsersList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  List of additional Members for the Site, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalVisitors" type="pnp:UsersList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  List of additional Visitors for the Site, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="SiteFields" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Site Columns of the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="unbounded"
                      processContents="lax" namespace="##any" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ContentTypes" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Content Types of the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContentType" type="pnp:ContentType"
                          minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Lists" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Lists instances of the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ListInstance" type="pnp:ListInstance"
                          minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Features" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Features (Site or Web) to activate or deactivate while applying the Provisioning Template, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SiteFeatures" type="pnp:FeaturesList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The Site Features to activate or deactivate while applying the Provisioning Template, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="WebFeatures" type="pnp:FeaturesList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The Web Features to activate or deactivate while applying the Provisioning Template, optional collection of elements
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>

      </xsd:element>

      <xsd:element name="CustomActions" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Custom Actions (Site or Web) to provision with the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SiteCustomActions" type="pnp:CustomActionsList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The Site Custom Actions to provision while applying the Provisioning Template, optional element
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="WebCustomActions" type="pnp:CustomActionsList" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The Web Custom Actions to provision while applying the Provisioning Template, optional element
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>

      </xsd:element>

      <xsd:element name="Files" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Files to provision into the target Site through the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="File" type="pnp:File"
                          minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="Pages" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Pages to provision into the target Site through the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Page" type="pnp:Page"
                          minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TermGroups" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The TermGroups element allows provisioning one or more TermGroups into the target Site, optional element
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TermGroup" type="pnp:TermGroup" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  The TermGroup element to provision into the target Site through the Provisioning Template, optional element
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ComposedLook" type="pnp:ComposedLook" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ComposedLook for the Provisioning Template, optional element
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="Providers" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Extensiblity Providers to invoke while applying the Provisioning Template, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Provider" type="pnp:Provider"
                          minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>

      </xsd:element>

    </xsd:all>

    <xsd:attribute name="ID" type="xsd:ID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ID of the Provisioning Template, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Version" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Version of the Provisioning Template, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="StringDictionaryItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a StringDictionary element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Key" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Key of the property to store in the StringDictionary, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Value of the property to store in the StringDictionary, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="UsersList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        List of Users for the Site Security, collection of elements
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="User" type="pnp:User" maxOccurs="unbounded" />
    </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType name="User">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The base abstract type for a User element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the User, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="ListInstance">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a ListInstance element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>
      <xsd:element name="ContentTypeBindings" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ContentTypeBindings entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContentTypeBinding" type="pnp:ContentTypeBinding"
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Views" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Views entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="unbounded"
                     processContents="lax" namespace="##any" />
          </xsd:sequence>
          <xsd:attribute name="RemoveExistingViews" use="optional" default="false" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                A flag to declare if the existing views of the List Instance have to be removed, befire adding the custom views, optional attribute
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Fields" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Fields entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="unbounded"
                     processContents="lax" namespace="##any" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FieldRefs" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The FieldRefs entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FieldRef" type="pnp:ListInstanceFieldRef"
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DataRows" maxOccurs="1" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DataRow" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="DataValue" maxOccurs="unbounded" minOccurs="1" type="pnp:DataValue" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>

    <xsd:attribute name="Title" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Title of the List Instance, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="DocumentTemplate" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The DocumentTemplate of the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="OnQuickLaunch" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The OnQuickLaunch flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="TemplateType" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The TemplateType of the List Instance, required attribute
          Values available here: https://msdn.microsoft.com/en-us/library/office/microsoft.sharepoint.client.listtemplatetype.aspx
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Url" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Url of the List Instance, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="EnableVersioning" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The EnableVersioning flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MinorVersionLimit" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MinorVersionLimit for versions history for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MaxVersionLimit" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MaxVersionLimit for versions history for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="RemoveExistingContentTypes" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The RemoveExistingContentTypes flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="TemplateFeatureID" type="pnp:GUID" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The TemplateFeatureID for the feature on which the List Instance is based, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ContentTypesEnabled" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ContentTypesEnabled flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Hidden flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="EnableAttachments" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The EnableAttachments flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="EnableFolderCreation" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The EnableFolderCreation flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="DataValue">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The DataValue of a single field of a row to insert into a target ListInstance
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="pnp:ReplaceableString">
        <xsd:attribute name="FieldName" use="required" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="ContentType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a content type
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>
      <xsd:element name="FieldRefs" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The FieldRefs entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FieldRef" type="pnp:ContentTypeFieldRef"
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="DocumentTemplate" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Specifies the document template for the content type. This is the file which SharePoint Foundation opens as a template when a user requests a new item of this content type.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="TargetName" type="xsd:string" use="required">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The value of the content type ID, required attribute
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>

    <xsd:attribute name="ID" type="pnp:ContentTypeId" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The value of the content type ID, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The name of the content type, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The description of the content type, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Group" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The group of the content type, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Boolean. True to define the content type as hidden. If you define a content type as hidden, SharePoint Foundation does not display that content type on the New button in list views.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Sealed" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Boolean. True to prevent changes to this content type. You cannot change the value of this attribute through the user interface, but you can change it in code if you have sufficient rights. You must have site collection administrator rights to unseal a content type.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ReadOnly" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Boolean. TRUE to specify that the content type cannot be edited without explicitly removing the read-only setting. This can be done either in the user interface or in code.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Overwrite" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional Boolean. TRUE to overwrite an existing content type with the same ID.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:anyAttribute processContents="skip"/>

  </xsd:complexType>

  <xsd:complexType name="ContentTypeBinding">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines the binding between a ListInstance and a ContentType
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="ContentTypeID" type="pnp:ContentTypeId" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The value of the ContentTypeID to bind, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Default" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Declares if the Content Type should be the default Content Type in the list or library, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="FeaturesList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a collection of elements of type Feature
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="Feature" type="pnp:Feature"
                   minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType name="Feature">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a single Site or Web Feature, which will be activated or deactivated while applying the Provisioning Template
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="ID" type="pnp:GUID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The unique ID of the Feature, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Deactivate" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Defines if the feature has to be deactivated or activated while applying the Provisioning Template, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the feature, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="FieldRefBase">
    <xsd:attributeGroup ref="pnp:FieldRefAttributes" />
  </xsd:complexType>

  <xsd:attributeGroup name="FieldRefAttributes">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Common set of attributes for any FieldRef element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="ID" type="pnp:GUID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The value of the field ID to bind, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Name" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The name of the field used in the field reference. This is for reference/readibility only.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Required" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Required flag for the field to bind, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Hidden flag for the field to bind, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:attributeGroup>

  <xsd:complexType name="ListInstanceFieldRef">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines the binding between a ListInstance and a Field
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FieldRefBase">
        <xsd:attribute name="DisplayName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The display name of the field to bind, only applicable to fields that will be added to lists, optional attribute
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ContentTypeFieldRef">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines the binding between a ContentType and a Field
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FieldRefBase" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CustomActionsList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a collection of elements of type CustomAction
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="CustomAction" type="pnp:CustomAction"
                   minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType name="CustomAction">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a Custom Action, which will be provisioned while applying the Provisioning Template
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Group" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Group of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Location" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Location of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Title" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Title of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Sequence" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Sequence of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Rights" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Rights for the CustomAction, based on values from Microsoft.SharePoint.Client.BasePermissions, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Url" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The URL of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Enabled" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Enabled flag for the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ScriptBlock" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ScriptBlock of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ImageUrl" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ImageUrl of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ScriptSrc" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ScriptSrc of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="FileProperties">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A collection of File Properties
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Property" type="pnp:StringDictionaryItem"
                    minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="File">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a File element, to describe a file that will be provisioned into the target Site
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>
      <xsd:element name="Properties" type="pnp:FileProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The File Properties, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WebParts" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The webparts to add to the page, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WebPart" type="pnp:WebPartPageWebPart"
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>

    <xsd:attribute name="Src" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Src of the File, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Folder" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The TargetFolder of the File, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Overwrite" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Overwrite flag for the File, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Create" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional: if set to false the file will not be created. Use to add WebParts to existing WebPart Pages.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Page">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a Page element, to describe a page that will be provisioned into the target Site. Because of the Layout attribute, the assumption is made that you're referring/creating a WikiPage.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>
      <xsd:element name="WebParts" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The webparts to add to the page, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WebPart" type="pnp:WikiPageWebPart"
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>

    <xsd:attribute name="Url" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: The server relative url of the page, supports tokens
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Overwrite" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Optional: if set, overwrites an existing page in the case of a wikipage.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Layout" type="pnp:WikiPageLayout" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: Defines the layout of the wikipage
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="WikiPageWebPart">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a WebPart to be added to a WikiPage
      </xsd:documentation>
    </xsd:annotation>

    <xsd:all>
      <xsd:element name="Contents" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Required: Defines the WebPart XML
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="Title" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: Defines the title of the WebPart
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Row" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: Defines the row to add the WebPart to
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Column" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: Defines the column to add the WebPart to
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="WebPartPageWebPart">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a webpart to be added to a WebPart Page
      </xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="Contents" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Required: Defines the WebPart XML
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name="Title" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: Defines the title of the WebPart
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Zone" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: defines the zone of a WebPart Page to add the webpart to
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Order" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Required: defines the index of the WebPart in the zone
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ComposedLook">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a ComposedLook element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ColorFile" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ColorFile of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="FontFile" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The FontFile of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="BackgroundFile" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The BackgroundFile of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MasterPage" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MasterPage of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="SiteLogo" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The SiteLogo of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="AlternateCSS" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The AlternateCSS of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Version" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Version of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="Provider">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines an Extensibility Provider
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="Configuration" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Defines an optional configuration section for the Extensibility Provider. The configuration section can be any XML
          </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType mixed="true">
          <xsd:sequence>
            <xsd:any processContents="lax" namespace="##other" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>

      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="Enabled" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Defines whether the Extensibility Provider is enabled or not, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="HandlerType" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The type of the handler. It can be a FQN of a .NET type, the URL of a node.js file, or whatever else, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="ProvisioningTemplateFile">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An element that references an external file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="File" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Absolute or relative path to the file.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ID" type="xsd:ID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          ID of the referenced template
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ProvisioningTemplateReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        An element that references an external file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="ID" type="xsd:IDREF" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          ID of the referenced template
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Sequence" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Each Provisioning file is split into a set of Sequence elements.
        The Sequence element groups the artefacts to be provisioned into groups.
        The Sequences must be evaluated by the provisioning engine in the order in which they appear.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="SiteCollection" type="pnp:SiteCollection" minOccurs="0" />
      <xsd:element name="Site" type="pnp:Site"  minOccurs="0"/>
      <xsd:element name="TermStore" type="pnp:TermStore"  minOccurs="0"/>
      <xsd:element name="Extensions" type="pnp:Extensions" minOccurs="0" maxOccurs="1"/>
      <!-- TODO: add more top level items here-->
    </xsd:sequence>
    <xsd:attribute name="SequenceType" default="Synchronous" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Instructions to the Provisioning engine on how the Containers within the Sequence can be provisioned.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Synchronous">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The Containers within this Sequence has to be provisioned Synchronous in the order that they appear.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="Asynchronous">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The Containers within this Sequence can be provisioned Asynchronously.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="ID" type="xsd:ID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          A unique identifier of the Sequence
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="SiteCollection">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a SiteCollection that will be created into the target tenant/farm
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Templates" type="pnp:Templates" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="pnp:SiteCollectionAttributes"/>
    <xsd:attributeGroup ref="pnp:SiteAttributes"/>
    <xsd:attribute name="Url" type="pnp:ReplaceableString" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Absolute Url to the site
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Site">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a Site that will be created into a target Site Collection
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Templates" type="pnp:Templates" minOccurs="0" />
    </xsd:sequence>
    <xsd:attributeGroup ref="pnp:SiteAttributes"/>
    <xsd:attribute name="UseSamePermissionsAsParentSite" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="Url" type="pnp:ReplaceableString" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Relative Url to the site
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:attributeGroup name="SiteCollectionAttributes">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Common set of attributes for any Site Collection
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="StorageMaximumLevel" type="pnp:ReplaceableInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Maximum Storage Level, in Megabytes
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="StorageWarningLevel" type="pnp:ReplaceableInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Warning Storage Level, in Megabytes
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="UserCodeMaximumLevel" type="pnp:ReplaceableInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Maximum Resource usage, in points
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="UserCodeWarningLevel" type="pnp:ReplaceableInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Warning Resource usage, in points
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="PrimarySiteCollectionAdmin" type="pnp:ReplaceableString" use="required">
      <xsd:annotation>
        <xsd:documentation>
          ID of the Primary Site Collection Admin
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="SecondarySiteCollectionAdmin" type="pnp:ReplaceableString" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          ID of the Secondary Site Collection Admin
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="SiteAttributes">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Common set of attributes for any Site
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Title" type="pnp:ReplaceableString"  use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Title of the site
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="CustomJSUrl" type="pnp:ReplaceableString" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Custom JavaScript URL
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="QuickLaunchEnabled" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Is the Quick launch enabled
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="AlternateCssUrl" type="pnp:ReplaceableString" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Alternat CSS URL
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="Language" type="pnp:ReplaceableString" use="optional"/>
    <xsd:attribute name="AllowDesigner" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="MembersCanShare" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="TimeZone" type="pnp:ReplaceableInt" use="optional" >
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Time zone of the site
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:complexType name="TermStore" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A TermStore to use for provisioning of TermGroups
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TermGroup" type="pnp:TermGroup" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The TermGroup element to provision into the target TermStore through, optional element
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Scope" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The scope of the term store.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default"/>
          <xsd:enumeration value="Current"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="TermGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A TermGroup to use for provisioning of TermSets and Terms
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="TaxonomyItem">
        <xsd:all>
          <xsd:element name="TermSets">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="TermSet" type="pnp:TermSet" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name="Description" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TaxonomyItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Base Type for TermGroup, TermSet and Term
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Name" type="xsd:string" use="required"/>
    <xsd:attribute name="ID" type="pnp:GUID" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TermSetItem" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Base type for TermSets and Terms
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pnp:TaxonomyItem">
        <xsd:attribute name="Owner" type="xsd:string" use="optional" />
        <xsd:attribute name="Description" type="xsd:string" use="optional"/>
        <xsd:attribute name="IsAvailableForTagging" type="xsd:boolean" use="optional" default="true" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TermSet">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A TermSet to provision
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pnp:TermSetItem">
        <xsd:all>
          <xsd:element name="CustomProperties" type="pnp:TaxonomyItemProperties" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The CustomProperties, optional collection of elements
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Terms" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Term" type="pnp:Term" minOccurs="0" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name="Language" type="xsd:int" use="optional" />
        <xsd:attribute name="IsOpenForTermCreation" type="xsd:boolean" use="optional" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Term">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A Term to provision into a TermSet or a hyerarchical Term
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pnp:TermSetItem">
        <xsd:all>
          <xsd:element name="Terms" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="Term" type="Term"  maxOccurs="unbounded" minOccurs="0"/>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Labels" minOccurs="0" maxOccurs="1" type="pnp:TermLabels" />
          <xsd:element name="CustomProperties" type="pnp:TaxonomyItemProperties" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The CustomProperties, optional collection of elements
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LocalCustomProperties" type="pnp:TaxonomyItemProperties" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The Term CustomProperties, optional collection of elements
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name="Language" type="xsd:int" use="optional"/>
        <xsd:attribute name="CustomSortOrder" type="xsd:int" use="optional" default="0"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TaxonomyItemProperties">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A collection of Term Properties
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Property" type="pnp:StringDictionaryItem"
                    minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TermLabels">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A collection of Term Labels, in order to support multi-language terms
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Label" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="Language" type="xsd:int" use="required" />
          <xsd:attribute name="Value" type="xsd:string" use="required" />
          <xsd:attribute name="IsDefaultForLanguage" type="xsd:boolean" use="optional" default="false" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TermSets">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        A collection of TermSets to provision
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TermSet" type="pnp:TermSet" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Extensions" >
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Extensions are custom XML elements and instructions that can be extensions of this default schema or vendor or engine specific extensions.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:any processContents="lax" namespace="##other"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ImportSequence">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Imports sequences from an external file. All current properties should be sent to that file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="File" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Absolute or relative path to the file.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="GUID">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The description of a Global Unique IDentifier
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\{)?[a-fA-F0-9]{8}(-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}(\})?"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name='ReplaceableString' id='ReplaceableString'>
    <xsd:annotation>
      <xsd:documentation>
        A Replaceable string is a string that contains parameters enclosed by curly braces {...}
        At runtime the provisioning engine replaces those parameters with the parameters specified in Preferences/Parameters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base='xsd:string'>
      <xsd:annotation>
        <xsd:documentation>
          TODO: this should be replaced with a better regexp to validate Replaceable strings
          Can be something like "{argument}" or "~argument"
        </xsd:documentation>
      </xsd:annotation>
      <xsd:pattern value='[\s\S]*'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name='ReplaceableInt' id='ReplaceableInt'>
    <xsd:annotation>
      <xsd:documentation>
        A Replaceable Int is an integer  that contains parameters enclosed by curly braces {...}
        At runtime the provisioning engine replaces those parameters with the parameters specified in Preferences/Parameters
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base='xsd:string'>
      <xsd:annotation>
        <xsd:documentation>
          TODO: regexp that validates either an integer or something like this "{lcid}" or something like "~lcid"
        </xsd:documentation>
      </xsd:annotation>
      <xsd:pattern value='[\s\S]+'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name='ContentTypeId' id='ContentTypeId'>
    <xsd:restriction base='xsd:string'>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          A Content Type ID
        </xsd:documentation>
      </xsd:annotation>
      <xsd:pattern value='0x[a-zA-Z0-9]+'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="WikiPageLayout">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The column layout of a wiki page
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OneColumn" />
      <xsd:enumeration value="OneColumnSidebar" />
      <xsd:enumeration value="TwoColumns" />
      <xsd:enumeration value="TwoColumnsHeader" />
      <xsd:enumeration value="TwoColumnsHeaderFooter" />
      <xsd:enumeration value="ThreeColumns" />
      <xsd:enumeration value="ThreeColumnsHeader" />
      <xsd:enumeration value="ThreeColumnsHeaderFooter" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
