OfficeDevPnP.Core/OfficeDevPnP.Core/Framework/Provisioning/Providers/Xml/ProvisioningSchema-2015-03.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="ProvisioningSchema-2015-03"
    targetNamespace="http://schemas.dev.office.com/PnP/2015/03/ProvisioningSchema"
    elementFormDefault="qualified"
    xmlns="http://schemas.dev.office.com/PnP/2015/03/ProvisioningSchema"
    xmlns:wss="http://schemas.microsoft.com/sharepoint/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="SharePointProvisioningTemplate">
    
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Represents the root type of the SharePoint Provisioning Template
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:complexType>
      <xsd:all>
        
        <xsd:element name="SitePolicy" type="xsd:string" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Site Policy of the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="PropertyBagEntries" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Property Bag entries of the Provisioning Template, optional collection of elements
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="PropertyBagEntry" type="PropertyBagEntry" 
                           minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="Security">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Security Groups Members of the Provisioning Template, optional collection of elements
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="AdditionalAdministrators" type="UsersList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    List of additional Administrators for the Site, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AdditionalOwners" type="UsersList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    List of additional Owners for the Site, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AdditionalMembers" type="UsersList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    List of additional Members for the Site, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AdditionalVisitors" type="UsersList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    List of additional Visitors for the Site, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="SiteFields" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Site Columns of the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any minOccurs="1" maxOccurs="unbounded"
                       processContents="lax" namespace="##any" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="ContentTypes" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Content Types of the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any minOccurs="1" maxOccurs="unbounded"
                       processContents="lax" namespace="##any" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="Lists" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Lists instances of the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ListInstance" type="ListInstance" 
                           minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="Features" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Features (Site or Web) to activate or deactivate while applying the Provisioning Template, optional collection of elements
            </xsd:documentation>
          </xsd:annotation>

          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SiteFeatures" type="FeaturesList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The Site Features to activate or deactivate while applying the Provisioning Template, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="WebFeatures" type="FeaturesList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The Web Features to activate or deactivate while applying the Provisioning Template, optional collection of elements
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
          
        </xsd:element>

        <xsd:element name="CustomActions" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Custom Actions (Site or Web) to provision with the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>

          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SiteCustomActions" type="CustomActionsList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The Site Custom Actions to provision while applying the Provisioning Template, optional element
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="WebCustomActions" type="CustomActionsList" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                    The Web Custom Actions to provision while applying the Provisioning Template, optional element
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
          
        </xsd:element>

        <xsd:element name="Files" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Files to provision into the target Site through the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="File" type="File"
                           minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="ComposedLook" type="ComposedLook" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The ComposedLook for the Provisioning Template, optional element
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="Providers" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The Extensiblity Providers to invoke while applying the Provisioning Template, optional collection of elements
            </xsd:documentation>
          </xsd:annotation>

          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Provider" type="Provider" 
                           minOccurs="1" maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:complexType>

        </xsd:element>

      </xsd:all>
      
      <xsd:attribute name="ID" type="xsd:ID" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ID of the Provisioning Template, required attribute
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="Version" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Version of the Provisioning Template, required attribute
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="PropertyBagEntry">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a PropertyBagEntry element
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:attribute name="Key" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Key of the property to store in the Property Bag, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Value of the property to store in the Property Bag, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  
  </xsd:complexType>

  <xsd:complexType name="UsersList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        List of Users for the Site Security, collection of elements
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="User" type="User" maxOccurs="unbounded" />
    </xsd:sequence>

  </xsd:complexType>
  
  <xsd:complexType name="User">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The base abstract type for a User element
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the User, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>

  <xsd:complexType name="ListInstance">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a ListInstance element
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:all>
      <xsd:element name="ContentTypeBindings" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ContentTypeBindings entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContentTypeBinding" type="ContentTypeBinding" 
                         minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Views" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The Views entries of the List Instance, optional collection of elements
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="unbounded"
                     processContents="lax" namespace="##any" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>

    <xsd:attribute name="Title" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Title of the List Instance, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="DocumentTemplate" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The DocumentTemplate of the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="OnQuickLaunch" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The OnQuickLaunch flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="TemplateType" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The TemplateType of the List Instance, required attribute
          Values available here: https://msdn.microsoft.com/en-us/library/office/microsoft.sharepoint.client.listtemplatetype.aspx
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Url" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Url of the List Instance, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="EnableVersioning" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The EnableVersioning flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MinorVersionLimit" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MinorVersionLimit for versions history for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MaxVersionLimit" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MaxVersionLimit for versions history for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="RemoveDefaultContentType" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The RemoveDefaultContentType flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ContentTypesEnabled" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ContentTypesEnabled flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Hidden flag for the List Instance, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>

  <xsd:complexType name="ContentTypeBinding">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines the binding between a ListInstance and a ContentType
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="ContentTypeID" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The value of the ContentTypeID to bind, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="Default" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Declares if the Content Type should be the default Content Type in the list or library, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="FeaturesList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a collection of elements of type Feature
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="Feature" type="Feature" 
                   minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
    
  </xsd:complexType>

  <xsd:complexType name="Feature">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a single Site or Web Feature, which will be activated or deactivated while applying the Provisioning Template
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="ID" type="GUID" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The unique ID of the Feature, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="Deactivate" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Defines if the feature has to be deactivated or activated while applying the Provisioning Template, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the feature, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:complexType name="CustomActionsList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a collection of elements of type CustomAction
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="CustomAction" type="CustomAction"
                   minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
    
  </xsd:complexType>

  <xsd:complexType name="CustomAction">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a Custom Action, which will be provisioned while applying the Provisioning Template
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Description of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Group" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Group of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Location" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Location of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Title" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Title of the CustomAction, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Sequence" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Sequence of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="Rights" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Rights for the CustomAction, based on values from Microsoft.SharePoint.Client.BasePermissions, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Url" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The URL of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Enabled" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Enabled flag for the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ScriptBlock" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ScriptBlock of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ImageUrl" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ImageUrl of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ScriptSrc" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ScriptSrc of the CustomAction, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>

  <xsd:complexType name="File">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a File element, to describe a file that will be provisioned into the target Site
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Src" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Src of the File, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Folder" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The TargetFolder of the File, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Overwrite" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Overwrite flag for the File, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>

  <xsd:complexType name="ComposedLook">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines a ComposedLook element
      </xsd:documentation>
    </xsd:annotation>

    <xsd:attribute name="Name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Name of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="ColorFile" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The ColorFile of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="FontFile" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The FontFile of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="BackgroundFile" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The BackgroundFile of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="MasterPage" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The MasterPage of the ComposedLook, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="SiteLogo" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The SiteLogo of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="AlternateCSS" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The AlternateCSS of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Version" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The Version of the ComposedLook, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute> 
    
  </xsd:complexType>

  <xsd:complexType name="Provider">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Defines an Extensibility Provider
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="Configuration" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Defines an optional configuration section for the Extensibility Provider. The configuration section can be any XML
          </xsd:documentation>
        </xsd:annotation>
        
        <xsd:complexType mixed="true">
          <xsd:sequence>
            <xsd:any processContents="lax" namespace="##other" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
        
      </xsd:element>
    </xsd:sequence>
    
    <xsd:attribute name="Enabled" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Defines whether the Extensibility Provider is enabled or not, optional attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Assembly" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The .NET Assembly FQN of the Extensibility Provider, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="Type" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The .NET Type of the Extensibility Provider, required attribute
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:simpleType name="GUID">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The description of a Global Unique IDentifier
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\{)?[a-fA-F0-9]{8}(-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}(\})?"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
