Solutions/Provisioning.Hybrid/Provisioning.Hybrid.Web/Service References/SharePointProvisioning/SharePointProvisioningService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contoso.Provisioning.Hybrid.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contoso.Provisioning.Hybrid.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SharePointProvisioningData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataClassification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lcid" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owners" nillable="true" type="tns:ArrayOfSharePointUser" />
      <xs:element minOccurs="0" name="SiteOwner" nillable="true" type="tns:SharePointUser" />
      <xs:element minOccurs="0" name="StorageMaximumLevel" type="xs:long" />
      <xs:element minOccurs="0" name="StorageWarningLevel" type="xs:long" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZoneId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCodeMaximumLevel" type="xs:double" />
      <xs:element minOccurs="0" name="UserCodeWarningLevel" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SharePointProvisioningData" nillable="true" type="tns:SharePointProvisioningData" />
  <xs:complexType name="ArrayOfSharePointUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SharePointUser" nillable="true" type="tns:SharePointUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSharePointUser" nillable="true" type="tns:ArrayOfSharePointUser" />
  <xs:complexType name="SharePointUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SharePointUser" nillable="true" type="tns:SharePointUser" />
</xs:schema>