OfficeDevPnP.Core/OfficeDevPnP.Core/Web References/UPAWebService/UserProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User Profile Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetUserProfileByIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByIndexResult" type="tns:GetUserProfileByIndexResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUserProfileByIndexResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NextValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserProfile" type="tns:ArrayOfPropertyData" />
          <s:element minOccurs="0" maxOccurs="1" name="Colleagues" type="tns:ArrayOfContactData" />
          <s:element minOccurs="0" maxOccurs="1" name="QuickLinks" type="tns:ArrayOfQuickLinkData" />
          <s:element minOccurs="0" maxOccurs="1" name="PinnedLinks" type="tns:ArrayOfPinnedLinkData" />
          <s:element minOccurs="0" maxOccurs="1" name="Memberships" type="tns:ArrayOfMembershipData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPropertyData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyData" nillable="true" type="tns:PropertyData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropertyData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsPrivacyChanged" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValueChanged" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Privacy" type="tns:Privacy" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfValueData" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Privacy">
        <s:restriction base="s:string">
          <s:enumeration value="Public" />
          <s:enumeration value="Contacts" />
          <s:enumeration value="Organization" />
          <s:enumeration value="Manager" />
          <s:enumeration value="Private" />
          <s:enumeration value="NotSet" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfValueData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValueData" nillable="true" type="tns:ValueData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValueData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContactData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactData" nillable="true" type="tns:ContactData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Privacy" type="tns:Privacy" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsInWorkGroup" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserProfileID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQuickLinkData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuickLinkData" nillable="true" type="tns:QuickLinkData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuickLinkData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Privacy" type="tns:Privacy" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPinnedLinkData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PinnedLinkData" nillable="true" type="tns:PinnedLinkData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PinnedLinkData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMembershipData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MembershipData" nillable="true" type="tns:MembershipData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MembershipData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Source" type="tns:MembershipSource" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberGroup" type="tns:MemberGroupData" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Privacy" type="tns:Privacy" />
          <s:element minOccurs="0" maxOccurs="1" name="MailNickname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberGroupID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MembershipSource">
        <s:restriction base="s:string">
          <s:enumeration value="DistributionList" />
          <s:enumeration value="SharePointSite" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MemberGroupData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SourceInternal" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SPTimeZone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:unsignedShort" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUserProfileByAccountName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserProfileByAccountNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserProfileByAccountNameResult" type="tns:ArrayOfPropertyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByNameResult" type="tns:ArrayOfPropertyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileByGuidResult" type="tns:ArrayOfPropertyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileSchema">
        <s:complexType />
      </s:element>
      <s:complexType name="PropertyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaximumShown" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdminEditable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSearchable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSystem" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedPropertyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowPolicyOverride" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultPrivacy" type="tns:Privacy" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAlias" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsColleagueEventLog" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUserEditable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVisibleOnEditor" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVisibleOnViewer" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReplicable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserOverridePrivacy" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsImported" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMultiValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ChoiceType" type="tns:ChoiceTypes" />
          <s:element minOccurs="1" maxOccurs="1" name="TermSetId" nillable="true" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ChoiceTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Off" />
          <s:enumeration value="None" />
          <s:enumeration value="Open" />
          <s:enumeration value="Closed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPropertyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyInfo" nillable="true" type="tns:PropertyInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserProfileSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileSchemaResult" type="tns:ArrayOfPropertyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileSchemaNameByAccountName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileSchemaNameByAccountNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileSchemaNameByAccountNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyChoiceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPropertyChoiceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyChoiceListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserPropertyByAccountName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newData" type="tns:ArrayOfPropertyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserPropertyByAccountNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserPropertyByAccountName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPropertyByAccountNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPropertyByAccountNameResult" type="tns:PropertyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMemberGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="membershipInfo" type="tns:MembershipData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMemberGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddMembership">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membershipInfo" type="tns:MembershipData" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="privacy" type="tns:Privacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMembershipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMembershipResult" type="tns:MembershipData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMembership">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceInternal" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMembershipResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMembershipPrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceInternal" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceReference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newPrivacy" type="tns:Privacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMembershipPrivacyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserMemberships">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMembershipsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserMembershipsResult" type="tns:ArrayOfMembershipData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserOrganizations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrganizationProfileData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrganizationProfileData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrganizationProfileData" nillable="true" type="tns:OrganizationProfileData" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserOrganizationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserOrganizationsResult" type="tns:ArrayOfOrganizationProfileData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserColleagues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserColleaguesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserColleaguesResult" type="tns:ArrayOfContactData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserLinksResult" type="tns:ArrayOfQuickLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPinnedLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPinnedLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPinnedLinksResult" type="tns:ArrayOfPinnedLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInCommon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InCommonData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manager" type="tns:ContactData" />
          <s:element minOccurs="0" maxOccurs="1" name="Colleagues" type="tns:ArrayOfContactData" />
          <s:element minOccurs="0" maxOccurs="1" name="Memberships" type="tns:ArrayOfMembershipData" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInCommonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInCommonResult" type="tns:InCommonData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonManager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonManagerResult" type="tns:ContactData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonColleagues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonColleaguesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonColleaguesResult" type="tns:ArrayOfContactData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonMemberships">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonMembershipsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonMembershipsResult" type="tns:ArrayOfMembershipData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColleague">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colleagueAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="privacy" type="tns:Privacy" />
            <s:element minOccurs="1" maxOccurs="1" name="isInWorkGroup" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColleagueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddColleagueResult" type="tns:ContactData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColleagueWithoutEmailNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colleagueAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="privacy" type="tns:Privacy" />
            <s:element minOccurs="1" maxOccurs="1" name="isInWorkGroup" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColleagueWithoutEmailNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddColleagueWithoutEmailNotificationResult" type="tns:ContactData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveColleague">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colleagueAccountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveColleagueResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateColleaguePrivacy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colleagueAccountName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newPrivacy" type="tns:Privacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateColleaguePrivacyResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddPinnedLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPinnedLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPinnedLinkResult" type="tns:PinnedLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePinnedLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:PinnedLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePinnedLinkResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemovePinnedLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePinnedLinkResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="group" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="privacy" type="tns:Privacy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLinkResult" type="tns:QuickLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:QuickLinkData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLinkResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveLinkResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveAllLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllLinksResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveAllPinnedLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllPinnedLinksResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveAllColleagues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllColleaguesResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveAllMemberships">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAllMembershipsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserProfileCount">
        <s:complexType />
      </s:element>
      <s:element name="GetUserProfileCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserProfileCountResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSuggestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SuggestionType" />
            <s:element minOccurs="0" maxOccurs="1" name="suggestions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="weights" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SuggestionType">
        <s:restriction base="s:string">
          <s:enumeration value="Colleague" />
          <s:enumeration value="Keyword" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSuggestionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProfileSchemaNames">
        <s:complexType />
      </s:element>
      <s:element name="GetProfileSchemaNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileSchemaNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schemaName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileSchemaResult" type="tns:ArrayOfPropertyInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeaders">
        <s:complexType />
      </s:element>
      <s:complexType name="Leader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagerAccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Leader" nillable="true" type="tns:Leader" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLeadersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeadersResult" type="tns:ArrayOfLeader" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeaderResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveLeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveLeaderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserProfileByIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfileByIndex" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileByIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileByIndexResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserProfileByAccountNameSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserProfileByAccountName" />
  </wsdl:message>
  <wsdl:message name="CreateUserProfileByAccountNameSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserProfileByAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfileByName" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfileByGuid" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfileSchema" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaNameByAccountNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileSchemaNameByAccountName" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaNameByAccountNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileSchemaNameByAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPropertyChoiceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPropertyChoiceList" />
  </wsdl:message>
  <wsdl:message name="GetPropertyChoiceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyChoiceListResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUserPropertyByAccountNameSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUserPropertyByAccountName" />
  </wsdl:message>
  <wsdl:message name="ModifyUserPropertyByAccountNameSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserPropertyByAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertyByAccountNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPropertyByAccountName" />
  </wsdl:message>
  <wsdl:message name="GetUserPropertyByAccountNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPropertyByAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMemberGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMemberGroup" />
  </wsdl:message>
  <wsdl:message name="CreateMemberGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMemberGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:AddMembership" />
  </wsdl:message>
  <wsdl:message name="AddMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:AddMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMembership" />
  </wsdl:message>
  <wsdl:message name="RemoveMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMembershipPrivacySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMembershipPrivacy" />
  </wsdl:message>
  <wsdl:message name="UpdateMembershipPrivacySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMembershipPrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserMemberships" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserOrganizationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserOrganizations" />
  </wsdl:message>
  <wsdl:message name="GetUserOrganizationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserColleaguesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserColleagues" />
  </wsdl:message>
  <wsdl:message name="GetUserColleaguesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserColleaguesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLinksSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserLinks" />
  </wsdl:message>
  <wsdl:message name="GetUserLinksSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserLinksResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPinnedLinksSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPinnedLinks" />
  </wsdl:message>
  <wsdl:message name="GetUserPinnedLinksSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPinnedLinksResponse" />
  </wsdl:message>
  <wsdl:message name="GetInCommonSoapIn">
    <wsdl:part name="parameters" element="tns:GetInCommon" />
  </wsdl:message>
  <wsdl:message name="GetInCommonSoapOut">
    <wsdl:part name="parameters" element="tns:GetInCommonResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommonManagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonManager" />
  </wsdl:message>
  <wsdl:message name="GetCommonManagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonManagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommonColleaguesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonColleagues" />
  </wsdl:message>
  <wsdl:message name="GetCommonColleaguesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonColleaguesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommonMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonMemberships" />
  </wsdl:message>
  <wsdl:message name="GetCommonMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="AddColleagueSoapIn">
    <wsdl:part name="parameters" element="tns:AddColleague" />
  </wsdl:message>
  <wsdl:message name="AddColleagueSoapOut">
    <wsdl:part name="parameters" element="tns:AddColleagueResponse" />
  </wsdl:message>
  <wsdl:message name="AddColleagueWithoutEmailNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:AddColleagueWithoutEmailNotification" />
  </wsdl:message>
  <wsdl:message name="AddColleagueWithoutEmailNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:AddColleagueWithoutEmailNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveColleagueSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveColleague" />
  </wsdl:message>
  <wsdl:message name="RemoveColleagueSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveColleagueResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateColleaguePrivacySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateColleaguePrivacy" />
  </wsdl:message>
  <wsdl:message name="UpdateColleaguePrivacySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateColleaguePrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="AddPinnedLinkSoapIn">
    <wsdl:part name="parameters" element="tns:AddPinnedLink" />
  </wsdl:message>
  <wsdl:message name="AddPinnedLinkSoapOut">
    <wsdl:part name="parameters" element="tns:AddPinnedLinkResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePinnedLinkSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePinnedLink" />
  </wsdl:message>
  <wsdl:message name="UpdatePinnedLinkSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePinnedLinkResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePinnedLinkSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePinnedLink" />
  </wsdl:message>
  <wsdl:message name="RemovePinnedLinkSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePinnedLinkResponse" />
  </wsdl:message>
  <wsdl:message name="AddLinkSoapIn">
    <wsdl:part name="parameters" element="tns:AddLink" />
  </wsdl:message>
  <wsdl:message name="AddLinkSoapOut">
    <wsdl:part name="parameters" element="tns:AddLinkResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLinkSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLink" />
  </wsdl:message>
  <wsdl:message name="UpdateLinkSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLinkResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLinkSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveLink" />
  </wsdl:message>
  <wsdl:message name="RemoveLinkSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveLinkResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAllLinksSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAllLinks" />
  </wsdl:message>
  <wsdl:message name="RemoveAllLinksSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAllLinksResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAllPinnedLinksSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAllPinnedLinks" />
  </wsdl:message>
  <wsdl:message name="RemoveAllPinnedLinksSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAllPinnedLinksResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAllColleaguesSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAllColleagues" />
  </wsdl:message>
  <wsdl:message name="RemoveAllColleaguesSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAllColleaguesResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAllMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAllMemberships" />
  </wsdl:message>
  <wsdl:message name="RemoveAllMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAllMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfileCount" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileCountResponse" />
  </wsdl:message>
  <wsdl:message name="AddSuggestionsSoapIn">
    <wsdl:part name="parameters" element="tns:AddSuggestions" />
  </wsdl:message>
  <wsdl:message name="AddSuggestionsSoapOut">
    <wsdl:part name="parameters" element="tns:AddSuggestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileSchemaNames" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileSchemaNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileSchema" />
  </wsdl:message>
  <wsdl:message name="GetProfileSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeadersSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeaders" />
  </wsdl:message>
  <wsdl:message name="GetLeadersSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeadersResponse" />
  </wsdl:message>
  <wsdl:message name="AddLeaderSoapIn">
    <wsdl:part name="parameters" element="tns:AddLeader" />
  </wsdl:message>
  <wsdl:message name="AddLeaderSoapOut">
    <wsdl:part name="parameters" element="tns:AddLeaderResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLeaderSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveLeader" />
  </wsdl:message>
  <wsdl:message name="RemoveLeaderSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveLeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="UserProfileServiceSoap">
    <wsdl:operation name="GetUserProfileByIndex">
      <wsdl:input message="tns:GetUserProfileByIndexSoapIn" />
      <wsdl:output message="tns:GetUserProfileByIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserProfileByAccountName">
      <wsdl:input message="tns:CreateUserProfileByAccountNameSoapIn" />
      <wsdl:output message="tns:CreateUserProfileByAccountNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByName">
      <wsdl:input message="tns:GetUserProfileByNameSoapIn" />
      <wsdl:output message="tns:GetUserProfileByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByGuid">
      <wsdl:input message="tns:GetUserProfileByGuidSoapIn" />
      <wsdl:output message="tns:GetUserProfileByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileSchema">
      <wsdl:input message="tns:GetUserProfileSchemaSoapIn" />
      <wsdl:output message="tns:GetUserProfileSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNameByAccountName">
      <wsdl:input message="tns:GetProfileSchemaNameByAccountNameSoapIn" />
      <wsdl:output message="tns:GetProfileSchemaNameByAccountNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyChoiceList">
      <wsdl:input message="tns:GetPropertyChoiceListSoapIn" />
      <wsdl:output message="tns:GetPropertyChoiceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPropertyByAccountName">
      <wsdl:input message="tns:ModifyUserPropertyByAccountNameSoapIn" />
      <wsdl:output message="tns:ModifyUserPropertyByAccountNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPropertyByAccountName">
      <wsdl:input message="tns:GetUserPropertyByAccountNameSoapIn" />
      <wsdl:output message="tns:GetUserPropertyByAccountNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMemberGroup">
      <wsdl:input message="tns:CreateMemberGroupSoapIn" />
      <wsdl:output message="tns:CreateMemberGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMembership">
      <wsdl:input message="tns:AddMembershipSoapIn" />
      <wsdl:output message="tns:AddMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMembership">
      <wsdl:input message="tns:RemoveMembershipSoapIn" />
      <wsdl:output message="tns:RemoveMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMembershipPrivacy">
      <wsdl:input message="tns:UpdateMembershipPrivacySoapIn" />
      <wsdl:output message="tns:UpdateMembershipPrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <wsdl:input message="tns:GetUserMembershipsSoapIn" />
      <wsdl:output message="tns:GetUserMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserOrganizations">
      <wsdl:input message="tns:GetUserOrganizationsSoapIn" />
      <wsdl:output message="tns:GetUserOrganizationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserColleagues">
      <wsdl:input message="tns:GetUserColleaguesSoapIn" />
      <wsdl:output message="tns:GetUserColleaguesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLinks">
      <wsdl:input message="tns:GetUserLinksSoapIn" />
      <wsdl:output message="tns:GetUserLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPinnedLinks">
      <wsdl:input message="tns:GetUserPinnedLinksSoapIn" />
      <wsdl:output message="tns:GetUserPinnedLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInCommon">
      <wsdl:input message="tns:GetInCommonSoapIn" />
      <wsdl:output message="tns:GetInCommonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonManager">
      <wsdl:input message="tns:GetCommonManagerSoapIn" />
      <wsdl:output message="tns:GetCommonManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonColleagues">
      <wsdl:input message="tns:GetCommonColleaguesSoapIn" />
      <wsdl:output message="tns:GetCommonColleaguesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommonMemberships">
      <wsdl:input message="tns:GetCommonMembershipsSoapIn" />
      <wsdl:output message="tns:GetCommonMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddColleague">
      <wsdl:input message="tns:AddColleagueSoapIn" />
      <wsdl:output message="tns:AddColleagueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddColleagueWithoutEmailNotification">
      <wsdl:input message="tns:AddColleagueWithoutEmailNotificationSoapIn" />
      <wsdl:output message="tns:AddColleagueWithoutEmailNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveColleague">
      <wsdl:input message="tns:RemoveColleagueSoapIn" />
      <wsdl:output message="tns:RemoveColleagueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateColleaguePrivacy">
      <wsdl:input message="tns:UpdateColleaguePrivacySoapIn" />
      <wsdl:output message="tns:UpdateColleaguePrivacySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPinnedLink">
      <wsdl:input message="tns:AddPinnedLinkSoapIn" />
      <wsdl:output message="tns:AddPinnedLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePinnedLink">
      <wsdl:input message="tns:UpdatePinnedLinkSoapIn" />
      <wsdl:output message="tns:UpdatePinnedLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePinnedLink">
      <wsdl:input message="tns:RemovePinnedLinkSoapIn" />
      <wsdl:output message="tns:RemovePinnedLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLink">
      <wsdl:input message="tns:AddLinkSoapIn" />
      <wsdl:output message="tns:AddLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLink">
      <wsdl:input message="tns:UpdateLinkSoapIn" />
      <wsdl:output message="tns:UpdateLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLink">
      <wsdl:input message="tns:RemoveLinkSoapIn" />
      <wsdl:output message="tns:RemoveLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllLinks">
      <wsdl:input message="tns:RemoveAllLinksSoapIn" />
      <wsdl:output message="tns:RemoveAllLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllPinnedLinks">
      <wsdl:input message="tns:RemoveAllPinnedLinksSoapIn" />
      <wsdl:output message="tns:RemoveAllPinnedLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllColleagues">
      <wsdl:input message="tns:RemoveAllColleaguesSoapIn" />
      <wsdl:output message="tns:RemoveAllColleaguesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAllMemberships">
      <wsdl:input message="tns:RemoveAllMembershipsSoapIn" />
      <wsdl:output message="tns:RemoveAllMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileCount">
      <wsdl:input message="tns:GetUserProfileCountSoapIn" />
      <wsdl:output message="tns:GetUserProfileCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSuggestions">
      <wsdl:input message="tns:AddSuggestionsSoapIn" />
      <wsdl:output message="tns:AddSuggestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNames">
      <wsdl:input message="tns:GetProfileSchemaNamesSoapIn" />
      <wsdl:output message="tns:GetProfileSchemaNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchema">
      <wsdl:input message="tns:GetProfileSchemaSoapIn" />
      <wsdl:output message="tns:GetProfileSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaders">
      <wsdl:input message="tns:GetLeadersSoapIn" />
      <wsdl:output message="tns:GetLeadersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeader">
      <wsdl:input message="tns:AddLeaderSoapIn" />
      <wsdl:output message="tns:AddLeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLeader">
      <wsdl:input message="tns:RemoveLeaderSoapIn" />
      <wsdl:output message="tns:RemoveLeaderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserProfileServiceSoap" type="tns:UserProfileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserProfileByIndex">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserProfileByAccountName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/CreateUserProfileByAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByGuid">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileSchema">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNameByAccountName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchemaNameByAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertyChoiceList">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetPropertyChoiceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPropertyByAccountName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/ModifyUserPropertyByAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPropertyByAccountName">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserPropertyByAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMemberGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/CreateMemberGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMembership">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMembership">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMembershipPrivacy">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateMembershipPrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserOrganizations">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserOrganizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserColleagues">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserColleagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLinks">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPinnedLinks">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserPinnedLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInCommon">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetInCommon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonManager">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonColleagues">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonColleagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonMemberships">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColleague">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddColleague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColleagueWithoutEmailNotification">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddColleagueWithoutEmailNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveColleague">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveColleague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateColleaguePrivacy">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateColleaguePrivacy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPinnedLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddPinnedLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePinnedLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdatePinnedLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePinnedLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemovePinnedLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLink">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllLinks">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllPinnedLinks">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllPinnedLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllColleagues">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllColleagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllMemberships">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileCount">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSuggestions">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddSuggestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNames">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchemaNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchema">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaders">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetLeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeader">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddLeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLeader">
      <soap:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveLeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserProfileServiceSoap12" type="tns:UserProfileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserProfileByIndex">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserProfileByAccountName">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/CreateUserProfileByAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByName">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByGuid">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileSchema">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNameByAccountName">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchemaNameByAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertyChoiceList">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetPropertyChoiceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPropertyByAccountName">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/ModifyUserPropertyByAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPropertyByAccountName">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserPropertyByAccountName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMemberGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/CreateMemberGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMembership">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMembership">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMembershipPrivacy">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateMembershipPrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserOrganizations">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserOrganizations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserColleagues">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserColleagues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLinks">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPinnedLinks">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserPinnedLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInCommon">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetInCommon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonManager">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonColleagues">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonColleagues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommonMemberships">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetCommonMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColleague">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddColleague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColleagueWithoutEmailNotification">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddColleagueWithoutEmailNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveColleague">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveColleague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateColleaguePrivacy">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateColleaguePrivacy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPinnedLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddPinnedLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePinnedLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdatePinnedLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePinnedLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemovePinnedLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/UpdateLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLink">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllLinks">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllPinnedLinks">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllPinnedLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllColleagues">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllColleagues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAllMemberships">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveAllMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileCount">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetUserProfileCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSuggestions">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddSuggestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchemaNames">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchemaNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileSchema">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetProfileSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaders">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/GetLeaders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeader">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/AddLeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLeader">
      <soap12:operation soapAction="http://microsoft.com/webservices/SharePointPortalServer/UserProfileService/RemoveLeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">User Profile Service</wsdl:documentation>
    <wsdl:port name="UserProfileServiceSoap" binding="tns:UserProfileServiceSoap">
      <soap:address location="https://nosite-admin.sharepoint.com/_vti_bin/UserProfileService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserProfileServiceSoap12" binding="tns:UserProfileServiceSoap12">
      <soap12:address location="https://nosite-admin.sharepoint.com/_vti_bin/UserProfileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>