Solutions/Provisioning.Hybrid/Provisioning.Hybrid.Console/Service References/SiteManager/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contoso.Services.SiteManager.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contoso.Services.SiteManager.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SiteData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LcId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryContactLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebTemplate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteData" nillable="true" type="tns:SiteData" />
  <xs:complexType name="ArrayOfSiteData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteData" nillable="true" type="tns:SiteData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteData" nillable="true" type="tns:ArrayOfSiteData" />
</xs:schema>